/* Styles for centering text within elements */
.TodoList{
    text-align: center;
  }
  
  /* Styles for the container */
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  